body {
  background: url("/static/images/img2.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #333;
  padding: 20px;
}

h1 {
  font-size: 28px;
  margin: 0;
}

nav {
  background-color: #f1f1f1;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

nav ul li a:hover {
  background-color: #333;
  color: #fff;
}

form {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-field {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #555;
}

footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  color: #999;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}


.text {
  background-color: #fff;
  flex: 1;
  padding: 0 400px;
  margin-bottom: 586px;
}
